body {
  font-family: 'Open Sans', sans-serif;
}

/* INTRO SPLASH */
#intro {
  background-color: #2b2b2b;
  bottom:0;
  color: #d47426;
  left:0;
  position:absolute;
  text-align: center;
  top:0;
  width:100%;
  z-index: 1;
}

.intro-title {
  font-size: 3em;
  font-weight: 300;
  position: relative;
  top: 40%;
}

/* HOME */
.first-section {
  background-color: #2b2b2b;
  color: #d47426;
  height: 100vh;
  text-align: center;
}

.first-section h1 {
  font-size: 3em;
  font-weight: 300;
  margin-top: 7%;
}

.first-section h3 {
  font-weight: 300;
}

.rule {
  border-top: 2px solid #fff;
}

.rule:before, .rule:after {
  background-color: #2b2b2b;
  border: 2px solid #fff;
  content: '';
  float: left;
  margin-top: -2.5%;
  padding: 1.5%;
}

.rule:after {
  float: right;
}

#map {
  height: 30vh;
  width: 100%;
 }

 .gmap {
   margin-top: 7%;
   padding-left: 7%;
   padding-right: 7%;
 }

 #rest-filter {
   color: rgb(136, 130, 130);
 }

 .top-group {
   margin-top: 5%;
 }

 .top-group,
 .bottom-group {
   background-color: #2b2b2b;
   padding-left: 5%;
   padding-right: 5%;
 }

 .pic {
   border: 1px solid #2b2b2b;
   border-radius: 10px;
   height: 100%;
   padding: 0;
   
 }

 .effect:hover {
  border: 1px solid transparent;
  transform: scale(1.1);
 }

 /* Modal */
.modal-header,
.modal-footer {
  background-color: rgba(136, 130, 130, 0.418);
}

.modal-header h4 {
  font-weight: 700;
}
